/* Color variables */
/* END - Color variables */
/* Font variables */
@font-face {
  font-family: SlimJoe;
  src: url("./fonts/slimjoe.otf"); }

@font-face {
  font-family: BigJohn;
  src: url("./fonts/bigjohn.otf"); }

@font-face {
  font-family: Bizon;
  src: url("./fonts/bizon.otf"); }

@font-face {
  font-family: Voga-Medium;
  src: url("./fonts/voga-medium.otf"); }

@font-face {
  font-family: Pier-Regular;
  src: url("./fonts/pier-regular.otf"); }

/* END - Font variables */
body {
  background-color: #1a1a1a; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** GRID WRAPPER **/
.line {
  position: absolute;
  display: block;
  color: white;
  opacity: 0.1;
  color: #1a1a1a; }

.top {
  width: 100%;
  top: 27%;
  height: 1px;
  background-color: white; }

.bottom {
  width: 100%;
  bottom: 27%;
  height: 1px;
  background-color: white; }

.right {
  height: 100%;
  right: 15%;
  width: 1px;
  background-color: white; }

.left {
  height: 100%;
  left: 15%;
  width: 1px;
  background-color: white; }

#grid-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* ALLOWS USER TO CLICK THROUGH GRID CONTENT */
  z-index: 96;
  /*ALL ELEMENTS SHOULD BE below 99 */
  background-color: rgba(26, 26, 26, 0.8); }

/* LOADING PAGE */
#loading {
  position: fixed;
  left: 50%;
  bottom: 50%;
  -ms-transform: translateX(-50%) translateY(50%);
  -moz-transform: translateX(-50%) translateY(50%);
  -webkit-transform: translateX(-50%) translateY(50%);
  transform: translateX(-50%) translateY(50%);
  text-align: center;
  max-height: 40vh;
  height: 40vh;
  max-width: 40vw;
  width: 40vw;
  z-index: 1000; }

.headphones {
  display: inline-block;
  fill: url(#grad); }

#loaderPage {
  z-index: 1000; }

.color-transparent {
  stop-color: transparent;
  stop-opacity: 1; }

.fill-color {
  stop-color: white;
  stop-opacity: 1; }

/* END LOAINDG PAGE */
#loadingPage {
  z-index: 50; }

/* HOME PAGE */
#homePage {
  display: none; }

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -99;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("flatbush.png") no-repeat;
  background-size: cover; }

.bubble {
  min-width: 30vw;
  min-height: 30vh;
  width: 30vw;
  height: 30vh;
  position: absolute;
  bottom: 0%;
  left: 35%;
  z-index: 3000;
  opacity: 0.3; }

.logo {
  display: none;
  fill: white;
  z-index: 9000;
  position: absolute;
  bottom: 27%;
  left: 35%;
  width: 30vw;
  min-width: 30vw;
  min-height: 30vh;
  height: 30vh; }

path.st1 {
  fill: white;
  z-index: 9000; }

div.logoSubhead {
  display: none;
  color: white;
  position: absolute;
  bottom: 19%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: auto;
  z-index: 9000;
  font-family: "Simplifica"; }

h1 {
  font-size: 55px;
  background-color: black;
  padding: 2px; }
